---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1579237200?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 452ms
      X-Forecast-Api-Calls:
      - '55'
      X-Response-Time:
      - 20.649ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579237200,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":33.66,"apparentTemperature":29.43,"dewPoint":17.81,"humidity":0.52,"pressure":1017.6,"windSpeed":4.56,"windGust":4.63,"windBearing":184,"cloudCover":0.65,"uvIndex":0,"visibility":10,"ozone":313.5},"hourly":{"summary":"Overcast
        throughout the day.","icon":"cloudy","data":[{"time":1579158000,"summary":"Clear","icon":"clear-night","precipIntensity":0.0015,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0147,"temperature":26.53,"apparentTemperature":21.04,"dewPoint":9.81,"humidity":0.49,"pressure":1029.7,"windSpeed":4.63,"windGust":6.86,"windBearing":170,"cloudCover":0.28,"uvIndex":0,"visibility":10,"ozone":312.2},{"time":1579161600,"summary":"Clear","icon":"clear-night","precipIntensity":0.0012,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0117,"temperature":25.85,"apparentTemperature":19.96,"dewPoint":8.55,"humidity":0.47,"pressure":1029,"windSpeed":4.89,"windGust":10.[...]
