---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1579064400?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 951ms
      X-Forecast-Api-Calls:
      - '36'
      X-Response-Time:
      - 31.510ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579064400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":35.03,"apparentTemperature":31.37,"dewPoint":8.31,"humidity":0.32,"pressure":1013.3,"windSpeed":4.21,"windGust":5.85,"windBearing":216,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":361.1},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578985200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":26.97,"apparentTemperature":26.97,"dewPoint":6.54,"humidity":0.41,"pressure":1015.9,"windSpeed":2.81,"windGust":4.92,"windBearing":131,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":366.1},{"time":1578988800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":25.43,"apparentTemperature":25.43,"dewPoint":6.66,"humidity":0.44,"pressure":1[...]
