---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/9ec3341b43269f75b49ff5dceb296d26/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 38ms
      X-Forecast-Api-Calls:
      - '7'
      X-Response-Time:
      - 115.285ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578872617,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":9,"nearestStormBearing":259,"precipIntensity":0,"precipProbability":0,"temperature":42.69,"apparentTemperature":39.71,"dewPoint":-0.74,"humidity":0.16,"pressure":1013.7,"windSpeed":4.89,"windGust":7.05,"windBearing":344,"cloudCover":0.74,"uvIndex":0,"visibility":10,"ozone":386.3},"minutely":{"summary":"Mostly
        cloudy for the hour.","icon":"partly-cloudy-day","data":[{"time":1578872580,"precipIntensity":0,"precipProbability":0},{"time":1578872640,"precipIntensity":0,"precipProbability":0},{"time":1578872700,"precipIntensity":0,"precipProbability":0},{"time":1578872760,"precipIntensity":0,"precipProbability":0},{"time":1578872820,"precipIntensity":0,"precipProbability":0},{"time":1578872880,"precipIntensity":0,"precipProbability":0},{"time":1578872940,"precipIntensity":0,"precipProbability":0},{"time":1578873000,"precipIntensity":0,"precipProbability":0},{"t[...]
