---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1578978000?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 961ms
      X-Forecast-Api-Calls:
      - '52'
      X-Response-Time:
      - 43.940ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578978000,"summary":"Clear","icon":"clear-night","precipIntensity":0.0009,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.01,"temperature":29.1,"apparentTemperature":24.87,"dewPoint":5.82,"humidity":0.37,"pressure":1016.9,"windSpeed":3.87,"windGust":5.57,"windBearing":198,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":367.7},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578898800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":25.78,"apparentTemperature":25.78,"dewPoint":6.88,"humidity":0.44,"pressure":1016.7,"windSpeed":2.74,"windGust":5.2,"windBearing":159,"cloudCover":0.11,"uvIndex":0,"visibility":10,"ozone":387.8},{"time":1578902400,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":24.23,"apparentTemperature":24.23,"dewPoint":7.17,"h[...]
