---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/9ec3341b43269f75b49ff5dceb296d26/39.7392358,-104.990251,1578884400?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 43ms
      X-Forecast-Api-Calls:
      - '9'
      X-Response-Time:
      - 26.952ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578884400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":32.88,"apparentTemperature":28.72,"dewPoint":4.56,"humidity":0.3,"pressure":1016.3,"windSpeed":4.36,"windGust":5.39,"windBearing":172,"cloudCover":0.09,"uvIndex":0,"visibility":10,"ozone":393},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578812400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":31.39,"apparentTemperature":31.39,"dewPoint":12.79,"humidity":0.46,"pressure":1013,"windSpeed":1.92,"windGust":5.14,"windBearing":173,"cloudCover":0.31,"uvIndex":0,"visibility":10,"ozone":394.9},{"time":1578816000,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":30.35,"apparentTemperature":30.35,"dewPoint":11.75,"[...]
