---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 19ms
      X-Forecast-Api-Calls:
      - '52'
      X-Response-Time:
      - 66.362ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579121017,"summary":"Clear","icon":"clear-day","nearestStormDistance":325,"nearestStormBearing":157,"precipIntensity":0,"precipProbability":0,"temperature":48.14,"apparentTemperature":43.65,"dewPoint":12.33,"humidity":0.23,"pressure":1018.7,"windSpeed":10.24,"windGust":18.32,"windBearing":3,"cloudCover":0.03,"uvIndex":2,"visibility":10,"ozone":332.4},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1579120980,"precipIntensity":0,"precipProbability":0},{"time":1579121040,"precipIntensity":0,"precipProbability":0},{"time":1579121100,"precipIntensity":0,"precipProbability":0},{"time":1579121160,"precipIntensity":0,"precipProbability":0},{"time":1579121220,"precipIntensity":0,"precipProbability":0},{"time":1579121280,"precipIntensity":0,"precipProbability":0},{"time":1579121340,"precipIntensity":0,"precipProbability":0},{"time":1579121400,"precipIntensity":0,"precipProbability":0},{"t[...]
