---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1578891600?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 418ms
      X-Forecast-Api-Calls:
      - '39'
      X-Response-Time:
      - 46.580ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578891600,"summary":"Clear","icon":"clear-night","precipIntensity":0.0002,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0021,"temperature":30.69,"apparentTemperature":30.69,"dewPoint":5.4,"humidity":0.34,"pressure":1017.1,"windSpeed":2.6,"windGust":2.85,"windBearing":194,"cloudCover":0.08,"uvIndex":0,"visibility":10,"ozone":397.5},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578812400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":31.39,"apparentTemperature":31.39,"dewPoint":12.73,"humidity":0.45,"pressure":1013,"windSpeed":1.92,"windGust":5.14,"windBearing":173,"cloudCover":0.31,"uvIndex":0,"visibility":10,"ozone":394.9},{"time":1578816000,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":30.35,"apparentTemperature":30.35,"dewPoint":11.75,"[...]
