---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/37.3382082,-121.8863286,1579064400?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 220ms
      X-Forecast-Api-Calls:
      - '17'
      X-Response-Time:
      - 29.990ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":37.3382082,"longitude":-121.8863286,"timezone":"America/Los_Angeles","currently":{"time":1579064400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":42.51,"apparentTemperature":42.51,"dewPoint":40.32,"humidity":0.92,"pressure":1023.5,"windSpeed":2.96,"windGust":8.41,"windBearing":305,"cloudCover":0.16,"uvIndex":0,"visibility":10,"ozone":351.4},"hourly":{"summary":"Possible
        light rain overnight and this morning.","icon":"rain","data":[{"time":1578988800,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0019,"precipProbability":0.11,"precipType":"rain","temperature":49.02,"apparentTemperature":44.77,"dewPoint":44,"humidity":0.83,"pressure":1021.1,"windSpeed":10.14,"windGust":13.71,"windBearing":147,"cloudCover":0.67,"uvIndex":0,"visibility":10,"ozone":352},{"time":1578992400,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0032,"precipProbability":0.15,"precipType":"rain","temperature":47.97,"apparentTemperature":43.29,"dewPoint":43.52,"humidity":0.84,"pressure":1021,"windSpeed":10.65,"windGust":14.55,"[...]
