---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 450ms
      X-Forecast-Api-Calls:
      - '66'
      X-Response-Time:
      - 185.765ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578956104,"summary":"Clear","icon":"clear-day","nearestStormDistance":9,"nearestStormBearing":259,"precipIntensity":0.006,"precipIntensityError":0.004,"precipProbability":0.01,"precipType":"rain","temperature":43.76,"apparentTemperature":39.42,"dewPoint":5.7,"humidity":0.2,"pressure":1012.7,"windSpeed":7.46,"windGust":17.87,"windBearing":251,"cloudCover":0.09,"uvIndex":0,"visibility":10,"ozone":374.6},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1578956100,"precipIntensity":0.006,"precipIntensityError":0.005,"precipProbability":0.01,"precipType":"rain"},{"time":1578956160,"precipIntensity":0,"precipProbability":0},{"time":1578956220,"precipIntensity":0.006,"precipIntensityError":0.005,"precipProbability":0.01,"precipType":"rain"},{"time":1578956280,"precipIntensity":0,"precipProbability":0},{"time":1578956340,"precipIntensity":0,"precipProbability":0},{"time":1578956400,"precipIntensity":0.005,"precipIntensityError":0.005,"prec[...]
