---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=san%20jose,ca&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "San Jose",
                       "short_name" : "San Jose",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Santa Clara County",
                       "short_name" : "Santa Clara County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "San Jose, CA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.4692304,
                          "lng" : -121.589154
                       },
                       "southwest" : {
                          "lat" : 37.124493,
                          "lng" : -122.0456719
                       }
                    },
                    "location" : {
                       "lat" : 37.3382082,
                       "lng" : -121.8863286
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.4692304,
                          "lng" : -121.589154
                       },
                       "southwest" : {
                          "lat" : 37.124493,
                          "lng" : -122.0456719
                       }
                    }
                 },
                 "place_id" : "ChIJ9T_5iuTKj4ARe3GfygqMnbk",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 15 Jan 2020 20:04:52 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/37.3382082,-121.8863286?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 586ms
      X-Forecast-Api-Calls:
      - '42'
      X-Response-Time:
      - 99.863ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":37.3382082,"longitude":-121.8863286,"timezone":"America/Los_Angeles","currently":{"time":1579118692,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":7,"nearestStormBearing":257,"precipIntensity":0,"precipProbability":0,"temperature":51.08,"apparentTemperature":51.08,"dewPoint":38.27,"humidity":0.61,"pressure":1016.5,"windSpeed":1.87,"windGust":4.16,"windBearing":193,"cloudCover":0.87,"uvIndex":2,"visibility":10,"ozone":338.6},"minutely":{"summary":"Mostly
        cloudy for the hour.","icon":"partly-cloudy-day","data":[{"time":1579118640,"precipIntensity":0,"precipProbability":0},{"time":1579118700,"precipIntensity":0,"precipProbability":0},{"time":1579118760,"precipIntensity":0,"precipProbability":0},{"time":1579118820,"precipIntensity":0,"precipProbability":0},{"time":1579118880,"precipIntensity":0,"precipProbability":0},{"time":1579118940,"precipIntensity":0,"precipProbability":0},{"time":1579119000,"precipIntensity":0,"precipProbability":0},{"time":1579119060,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/37.3382082,-121.8863286,1579150800?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 903ms
      X-Forecast-Api-Calls:
      - '43'
      X-Response-Time:
      - 37.373ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":37.3382082,"longitude":-121.8863286,"timezone":"America/Los_Angeles","currently":{"time":1579150800,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0016,"precipProbability":0.02,"precipType":"rain","temperature":44.61,"apparentTemperature":40.6,"dewPoint":41.22,"humidity":0.88,"pressure":1014,"windSpeed":7.19,"windGust":10.12,"windBearing":156,"cloudCover":0.89,"uvIndex":0,"visibility":10,"ozone":341.5},"hourly":{"summary":"Mostly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1579075200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":41.83,"apparentTemperature":40.04,"dewPoint":36.17,"humidity":0.8,"pressure":1022.4,"windSpeed":3.36,"windGust":5.04,"windBearing":195,"cloudCover":0.17,"uvIndex":0,"visibility":10,"ozone":338.5},{"time":1579078800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
       [...]
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1579150800?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 569ms
      X-Forecast-Api-Calls:
      - '45'
      X-Response-Time:
      - 24.451ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579150800,"summary":"Clear","icon":"clear-night","precipIntensity":0.001,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.011,"temperature":29.54,"apparentTemperature":24.81,"dewPoint":11.24,"humidity":0.46,"pressure":1029.9,"windSpeed":4.38,"windGust":6.03,"windBearing":177,"cloudCover":0.13,"uvIndex":0,"visibility":10,"ozone":313.5},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1579071600,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":34.43,"apparentTemperature":28.62,"dewPoint":10.91,"humidity":0.37,"pressure":1013.9,"[...]
