---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 15 Jan 2020 20:42:33 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 568ms
      X-Forecast-Api-Calls:
      - '50'
      X-Response-Time:
      - 78.726ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579120953,"summary":"Clear","icon":"clear-day","nearestStormDistance":325,"nearestStormBearing":157,"precipIntensity":0,"precipProbability":0,"temperature":48.14,"apparentTemperature":43.66,"dewPoint":12.31,"humidity":0.23,"pressure":1018.7,"windSpeed":10.21,"windGust":18.26,"windBearing":4,"cloudCover":0.02,"uvIndex":2,"visibility":10,"ozone":332.5},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1579120920,"precipIntensity":0,"precipProbability":0},{"time":1579120980,"precipIntensity":0,"precipProbability":0},{"time":1579121040,"precipIntensity":0,"precipProbability":0},{"time":1579121100,"precipIntensity":0,"precipProbability":0},{"time":1579121160,"precipIntensity":0,"precipProbability":0},{"time":1579121220,"precipIntensity":0,"precipProbability":0},{"time":1579121280,"precipIntensity":0,"precipProbability":0},{"time":1579121340,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1579150800?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 869ms
      X-Forecast-Api-Calls:
      - '51'
      X-Response-Time:
      - 27.954ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579150800,"summary":"Clear","icon":"clear-night","precipIntensity":0.001,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.011,"temperature":29.54,"apparentTemperature":24.81,"dewPoint":11.22,"humidity":0.46,"pressure":1029.9,"windSpeed":4.38,"windGust":6.03,"windBearing":177,"cloudCover":0.13,"uvIndex":0,"visibility":10,"ozone":313.5},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1579071600,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":34.43,"apparentTemperature":28.62,"dewPoint":10.91,"humidity":0.37,"pressure":1013.9,"windSpeed":6.7,"windGust":12.34,"windBearing":65,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":349.8},{"time":1579075200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":30[...]
