---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 15 Jan 2020 18:33:34 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 252ms
      X-Forecast-Api-Calls:
      - '22'
      X-Response-Time:
      - 66.771ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579113214,"summary":"Clear","icon":"clear-day","nearestStormDistance":321,"nearestStormBearing":157,"precipIntensity":0,"precipProbability":0,"temperature":44.67,"apparentTemperature":43.63,"dewPoint":13.17,"humidity":0.28,"pressure":1020.5,"windSpeed":3.5,"windGust":5.27,"windBearing":66,"cloudCover":0,"uvIndex":2,"visibility":10,"ozone":338.4},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1579113180,"precipIntensity":0,"precipProbability":0},{"time":1579113240,"precipIntensity":0,"precipProbability":0},{"time":1579113300,"precipIntensity":0,"precipProbability":0},{"time":1579113360,"precipIntensity":0,"precipProbability":0},{"time":1579113420,"precipIntensity":0,"precipProbability":0},{"time":1579113480,"precipIntensity":0,"precipProbability":0},{"time":1579113540,"precipIntensity":0,"precipProbability":0},{"time":1579113600,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1579150800?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 543ms
      X-Forecast-Api-Calls:
      - '23'
      X-Response-Time:
      - 26.980ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579150800,"summary":"Clear","icon":"clear-night","precipIntensity":0.0008,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0085,"temperature":30.27,"apparentTemperature":25.44,"dewPoint":9.71,"humidity":0.42,"pressure":1029.4,"windSpeed":4.6,"windGust":6.32,"windBearing":190,"cloudCover":0.22,"uvIndex":0,"visibility":10,"ozone":313.5},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1579071600,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":34.43,"apparentTemperature":28.62,"dewPoint":10.91,"humidity":0.37,"pressure":1013.9,"windSpeed":6.7,"windGust":12.34,"windBearing":65,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":349.8},{"time":1579075200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":30[...]
