---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 03:38:09 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 425ms
      X-Forecast-Api-Calls:
      - '40'
      X-Response-Time:
      - 95.292ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578886689,"summary":"Clear","icon":"clear-night","nearestStormDistance":3,"nearestStormBearing":215,"precipIntensity":0,"precipProbability":0,"temperature":34.09,"apparentTemperature":33.21,"dewPoint":4.05,"humidity":0.28,"pressure":1016.5,"windSpeed":2.16,"windGust":4.21,"windBearing":314,"cloudCover":0.18,"uvIndex":0,"visibility":10,"ozone":394.2},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1578886680,"precipIntensity":0,"precipProbability":0},{"time":1578886740,"precipIntensity":0,"precipProbability":0},{"time":1578886800,"precipIntensity":0,"precipProbability":0},{"time":1578886860,"precipIntensity":0,"precipProbability":0},{"time":1578886920,"precipIntensity":0,"precipProbability":0},{"time":1578886980,"precipIntensity":0,"precipProbability":0},{"time":1578887040,"precipIntensity":0,"precipProbability":0},{"time":1578887100,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1578891600?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 784ms
      X-Forecast-Api-Calls:
      - '41'
      X-Response-Time:
      - 24.537ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578891600,"summary":"Clear","icon":"clear-night","precipIntensity":0.0002,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0021,"temperature":30.69,"apparentTemperature":30.69,"dewPoint":5.4,"humidity":0.34,"pressure":1017.1,"windSpeed":2.6,"windGust":2.85,"windBearing":194,"cloudCover":0.08,"uvIndex":0,"visibility":10,"ozone":397.5},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578812400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":31.39,"apparentTemperature":31.39,"dewPoint":12.73,"humidity":0.45,"pressure":1013,"windSpeed":1.92,"windGust":5.14,"windBearing":173,"cloudCover":0.31,"uvIndex":0,"visibility":10,"ozone":394.9},{"time":1578816000,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbabil[...]
