---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 14 Jan 2020 19:09:01 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 271ms
      X-Forecast-Api-Calls:
      - '34'
      X-Response-Time:
      - 72.767ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579028942,"summary":"Clear","icon":"clear-day","nearestStormDistance":9,"nearestStormBearing":259,"precipIntensity":0,"precipProbability":0,"temperature":55.17,"apparentTemperature":55.17,"dewPoint":8.04,"humidity":0.15,"pressure":1006.8,"windSpeed":8.03,"windGust":16.62,"windBearing":92,"cloudCover":0,"uvIndex":2,"visibility":10,"ozone":359.5},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1579028940,"precipIntensity":0,"precipProbability":0},{"time":1579029000,"precipIntensity":0,"precipProbability":0},{"time":1579029060,"precipIntensity":0,"precipProbability":0},{"time":1579029120,"precipIntensity":0,"precipProbability":0},{"time":1579029180,"precipIntensity":0,"precipProbability":0},{"time":1579029240,"precipIntensity":0,"precipProbability":0},{"time":1579029300,"precipIntensity":0,"precipProbability":0},{"time":1579029360,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1579064400?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 563ms
      X-Forecast-Api-Calls:
      - '35'
      X-Response-Time:
      - 35.405ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579064400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":35.03,"apparentTemperature":31.37,"dewPoint":8.31,"humidity":0.32,"pressure":1013.3,"windSpeed":4.21,"windGust":5.85,"windBearing":216,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":361.1},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578985200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":26.97,"apparentTemperature":26.97,"dewPoint":6.54,"humidity":0.41,"pressure":1015.9,"windSpeed":2.81,"windGust":4.92,"windBearing":131,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":366.1},{"time":1578988800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":25.43[...]
