---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 02:32:12 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/9ec3341b43269f75b49ff5dceb296d26/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 705ms
      X-Forecast-Api-Calls:
      - '35'
      X-Response-Time:
      - 83.816ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578882732,"summary":"Clear","icon":"clear-night","nearestStormDistance":11,"nearestStormBearing":270,"precipIntensity":0,"precipProbability":0,"temperature":36.31,"apparentTemperature":36.31,"dewPoint":2.03,"humidity":0.23,"pressure":1015.8,"windSpeed":2.83,"windGust":5,"windBearing":238,"cloudCover":0.21,"uvIndex":0,"visibility":10,"ozone":392.6},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1578882720,"precipIntensity":0,"precipProbability":0},{"time":1578882780,"precipIntensity":0,"precipProbability":0},{"time":1578882840,"precipIntensity":0,"precipProbability":0},{"time":1578882900,"precipIntensity":0,"precipProbability":0},{"time":1578882960,"precipIntensity":0,"precipProbability":0},{"time":1578883020,"precipIntensity":0,"precipProbability":0},{"time":1578883080,"precipIntensity":0,"precipProbability":0},{"time":1578883140,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/9ec3341b43269f75b49ff5dceb296d26/39.7392358,-104.990251,1578891600?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 312ms
      X-Forecast-Api-Calls:
      - '36'
      X-Response-Time:
      - 30.311ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578891600,"summary":"Clear","icon":"clear-night","precipIntensity":0.0021,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0231,"temperature":29.47,"apparentTemperature":24.93,"dewPoint":5.83,"humidity":0.36,"pressure":1017.3,"windSpeed":4.2,"windGust":4.68,"windBearing":187,"cloudCover":0.07,"uvIndex":0,"visibility":10,"ozone":397.5},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578812400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":31.39,"apparentTemperature":31.39,"dewPoint":12.73,"humidity":0.45,"pressure":1013,"windSpeed":1.92,"windGust":5.14,"windBearing":173,"cloudCover":0.31,"uvIndex":0,"visibility":10,"ozone":394.9},{"time":1578816000,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbabil[...]
