---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 14 Jan 2020 18:48:24 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 20ms
      X-Forecast-Api-Calls:
      - '31'
      X-Response-Time:
      - 144.333ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579027706,"summary":"Clear","icon":"clear-day","nearestStormDistance":11,"nearestStormBearing":279,"precipIntensity":0,"precipProbability":0,"temperature":54.18,"apparentTemperature":54.22,"dewPoint":8.21,"humidity":0.16,"pressure":1007.6,"windSpeed":7.7,"windGust":16.11,"windBearing":103,"cloudCover":0,"uvIndex":2,"visibility":10,"ozone":359.1},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1579027680,"precipIntensity":0,"precipProbability":0},{"time":1579027740,"precipIntensity":0,"precipProbability":0},{"time":1579027800,"precipIntensity":0,"precipProbability":0},{"time":1579027860,"precipIntensity":0,"precipProbability":0},{"time":1579027920,"precipIntensity":0,"precipProbability":0},{"time":1579027980,"precipIntensity":0,"precipProbability":0},{"time":1579028040,"precipIntensity":0,"precipProbability":0},{"time":1579028100,"precipIntensity":0,"precipProbability":0},{"time":1579028160,"precipIntensity":0.01,"precipIntensityError":0.01,"precipProbability":0.01,"precipType":"rain"},{"time":1579028220,"precipIntensity":0.011,"precipIntensityError":0.012,"precipProbability":0.01,"precipType":"rain"},{"time":1579028280,"precipIntensity":0.008,"precipIntensityError":0.01,"precipProbability":0.01,"precipType":"rain"},{"time":1579028340,"precipIntensity":0.008,"precipIntensityError":0.009,"precipProbability":0.01,"precipType":"rain"},{"time":1579028400,"precipIntensity":0.008,"precipIntensityError":0.008,"precipProbability":0.01,"precipType":"rain"},{"time":1579028460,"p[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1579064400?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 388ms
      X-Forecast-Api-Calls:
      - '32'
      X-Response-Time:
      - 52.006ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579064400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":35.04,"apparentTemperature":31.38,"dewPoint":8.77,"humidity":0.33,"pressure":1013.1,"windSpeed":4.2,"windGust":5.85,"windBearing":218,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":361.1},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578985200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":26.97,"apparentTemperature":26.97,"dewPoint":6.54,"humidity":0.41,"pressure":1015.9,"windSpeed":2.81,"windGust":4.92,"windBearing":131,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":366.1},{"time":1578988800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":25.43[...]
[...]
