---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 493ms
      X-Forecast-Api-Calls:
      - '30'
      X-Response-Time:
      - 133.568ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579027129,"summary":"Clear","icon":"clear-day","nearestStormDistance":10,"nearestStormBearing":320,"precipIntensity":0,"precipProbability":0,"temperature":54.74,"apparentTemperature":54.85,"dewPoint":9.2,"humidity":0.16,"pressure":1008.1,"windSpeed":5.21,"windGust":13.58,"windBearing":99,"cloudCover":0,"uvIndex":2,"visibility":10,"ozone":358.9},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1579027080,"precipIntensity":0,"precipProbability":0},{"time":1579027140,"precipIntensity":0,"precipProbability":0},{"time":1579027200,"precipIntensity":0,"precipProbability":0},{"time":1579027260,"precipIntensity":0,"precipProbability":0},{"time":1579027320,"precipIntensity":0,"precipProbability":0},{"time":1579027380,"precipIntensity":0,"precipProbability":0},{"time":1579027440,"precipIntensity":0,"precipProbability":0},{"time":1579027500,"precipIntensity":0,"precipProbability":0},{"t[...]
