---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 146ms
      X-Forecast-Api-Calls:
      - '27'
      X-Response-Time:
      - 68.443ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579114217,"summary":"Clear","icon":"clear-day","nearestStormDistance":322,"nearestStormBearing":157,"precipIntensity":0,"precipProbability":0,"temperature":45.1,"apparentTemperature":41.48,"dewPoint":13.85,"humidity":0.28,"pressure":1020.1,"windSpeed":6.59,"windGust":10.52,"windBearing":40,"cloudCover":0,"uvIndex":2,"visibility":10,"ozone":337.8},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1579114200,"precipIntensity":0,"precipProbability":0},{"time":1579114260,"precipIntensity":0,"precipProbability":0},{"time":1579114320,"precipIntensity":0,"precipProbability":0},{"time":1579114380,"precipIntensity":0,"precipProbability":0},{"time":1579114440,"precipIntensity":0,"precipProbability":0},{"time":1579114500,"precipIntensity":0,"precipProbability":0},{"time":1579114560,"precipIntensity":0,"precipProbability":0},{"time":1579114620,"precipIntensity":0,"precipProbability":0},{"t[...]
