---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=San%20Jose,CA&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "San Jose",
                       "short_name" : "San Jose",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Santa Clara County",
                       "short_name" : "Santa Clara County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "San Jose, CA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.4692304,
                          "lng" : -121.589154
                       },
                       "southwest" : {
                          "lat" : 37.124493,
                          "lng" : -122.0456719
                       }
                    },
                    "location" : {
                       "lat" : 37.3382082,
                       "lng" : -121.8863286
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.4692304,
                          "lng" : -121.589154
                       },
                       "southwest" : {
                          "lat" : 37.124493,
                          "lng" : -122.0456719
                       }
                    }
                 },
                 "place_id" : "ChIJ9T_5iuTKj4ARe3GfygqMnbk",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 15 Jan 2020 16:06:56 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/37.3382082,-121.8863286?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 154ms
      X-Forecast-Api-Calls:
      - '19'
      X-Response-Time:
      - 73.741ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":37.3382082,"longitude":-121.8863286,"timezone":"America/Los_Angeles","currently":{"time":1579104418,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":7,"nearestStormBearing":353,"precipIntensity":0,"precipProbability":0,"temperature":39.89,"apparentTemperature":39.89,"dewPoint":34.72,"humidity":0.82,"pressure":1019.3,"windSpeed":2.45,"windGust":3.03,"windBearing":150,"cloudCover":0.35,"uvIndex":0,"visibility":10,"ozone":337.1},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"partly-cloudy-day","data":[{"time":1579104360,"precipIntensity":0,"precipProbability":0},{"time":1579104420,"precipIntensity":0,"precipProbability":0},{"time":1579104480,"precipIntensity":0,"precipProbability":0},{"time":1579104540,"precipIntensity":0,"precipProbability":0},{"time":1579104600,"precipIntensity":0,"precipProbability":0},{"time":1579104660,"precipIntensity":0,"precipProbability":0},{"time":1579104720,"precipIntensity":0,"precipProbability":0},{"time":1579104780,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/37.3382082,-121.8863286,1579150800?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 451ms
      X-Forecast-Api-Calls:
      - '20'
      X-Response-Time:
      - 31.930ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":37.3382082,"longitude":-121.8863286,"timezone":"America/Los_Angeles","currently":{"time":1579150800,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0009,"precipProbability":0.02,"precipType":"rain","temperature":45.89,"apparentTemperature":42.2,"dewPoint":42.05,"humidity":0.86,"pressure":1013.3,"windSpeed":7.08,"windGust":8.07,"windBearing":164,"cloudCover":0.96,"uvIndex":0,"visibility":10,"ozone":339.1},"hourly":{"summary":"Mostly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1579075200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":41.83,"apparentTemperature":40.04,"dewPoint":36.17,"humidity":0.8,"pressure":1022.4,"windSpeed":3.36,"windGust":5.04,"windBearing":195,"cloudCover":0.17,"uvIndex":0,"visibility":10,"ozone":338.5},{"time":1579078800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,[...]
