---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=San%20Jose,CA&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "San Jose",
                       "short_name" : "San Jose",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Santa Clara County",
                       "short_name" : "Santa Clara County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "San Jose, CA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.4692304,
                          "lng" : -121.589154
                       },
                       "southwest" : {
                          "lat" : 37.124493,
                          "lng" : -122.0456719
                       }
                    },
                    "location" : {
                       "lat" : 37.3382082,
                       "lng" : -121.8863286
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.4692304,
                          "lng" : -121.589154
                       },
                       "southwest" : {
                          "lat" : 37.124493,
                          "lng" : -122.0456719
                       }
                    }
                 },
                 "place_id" : "ChIJ9T_5iuTKj4ARe3GfygqMnbk",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 14 Jan 2020 05:15:31 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/37.3382082,-121.8863286?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 578ms
      X-Forecast-Api-Calls:
      - '13'
      X-Response-Time:
      - 146.649ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":37.3382082,"longitude":-121.8863286,"timezone":"America/Los_Angeles","currently":{"time":1578978933,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":27,"nearestStormBearing":25,"precipIntensity":0,"precipProbability":0,"temperature":48.01,"apparentTemperature":47.12,"dewPoint":42.87,"humidity":0.82,"pressure":1022,"windSpeed":3.29,"windGust":4.81,"windBearing":128,"cloudCover":0.5,"uvIndex":0,"visibility":10,"ozone":356.9},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"partly-cloudy-night","data":[{"time":1578978900,"precipIntensity":0,"precipProbability":0},{"time":1578978960,"precipIntensity":0,"precipProbability":0},{"time":1578979020,"precipIntensity":0,"precipProbability":0},{"time":1578979080,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.01,"precipType":"rain"},{"time":1578979140,"precipIntensity":0.003,"precipIntensityError":0.001,"precipProbability":0.02,"precipType":"rain"},{"time":1578979200,"precipIntensity":0.003,"precipIntensityError":0.001,"precipProbability":0.02,"precipType":"rain"},{"time":1578979260,"precipIntensity":0.003,"precipIntensityError":0.001,"precipProbability":0.03,"precipType":"rain"},{"time":1578979320,"precipIntensity":0.003,"precipIntensityError":0.001,"precipProbability":0.04,"precipType":"rain"},{"time":1578979380,"[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/37.3382082,-121.8863286,1578978000?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 122ms
      X-Forecast-Api-Calls:
      - '14'
      X-Response-Time:
      - 67.661ms
    body:
      encoding: ASCII-8BIT
      string[...]
