---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Denver,CO&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 14 Jan 2020 05:07:13 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 164ms
      X-Forecast-Api-Calls:
      - '9'
      X-Response-Time:
      - 72.718ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578978435,"summary":"Clear","icon":"clear-night","nearestStormDistance":13,"nearestStormBearing":315,"precipIntensity":0,"precipProbability":0,"temperature":30.86,"apparentTemperature":30.89,"dewPoint":7.25,"humidity":0.36,"pressure":1016.6,"windSpeed":2.76,"windGust":3.95,"windBearing":120,"cloudCover":0.06,"uvIndex":0,"visibility":10,"ozone":365.6},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1578978420,"precipIntensity":0,"precipProbability":0},{"time":1578978480,"precipIntensity":0,"precipProbability":0},{"time":1578978540,"precipIntensity":0,"precipProbability":0},{"time":1578978600,"precipIntensity":0,"precipProbability":0},{"time":1578978660,"precipIntensity":0,"precipProbability":0},{"time":1578978720,"precipIntensity":0,"precipProbability":0},{"time":1578978780,"precipIntensity":0,"precipProbability":0},{"time":1578978840,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1578978000?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 481ms
      X-Forecast-Api-Calls:
      - '10'
      X-Response-Time:
      - 42.870ms
    body:
      encoding: ASCII-8BIT
      string:[...]
