---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=San%20Jose,CA&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "San Jose",
                       "short_name" : "San Jose",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Santa Clara County",
                       "short_name" : "Santa Clara County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "San Jose, CA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.4692304,
                          "lng" : -121.589154
                       },
                       "southwest" : {
                          "lat" : 37.124493,
                          "lng" : -122.0456719
                       }
                    },
                    "location" : {
                       "lat" : 37.3382082,
                       "lng" : -121.8863286
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.4692304,
                          "lng" : -121.589154
                       },
                       "southwest" : {
                          "lat" : 37.124493,
                          "lng" : -122.0456719
                       }
                    }
                 },
                 "place_id" : "ChIJ9T_5iuTKj4ARe3GfygqMnbk",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 14 Jan 2020 16:56:38 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/37.3382082,-121.8863286?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 120ms
      X-Forecast-Api-Calls:
      - '18'
      X-Response-Time:
      - 125.409ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":37.3382082,"longitude":-121.8863286,"timezone":"America/Los_Angeles","currently":{"time":1579020999,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":0,"precipIntensity":0,"precipProbability":0,"temperature":47.1,"apparentTemperature":47.13,"dewPoint":42.8,"humidity":0.85,"pressure":1024.4,"windSpeed":2.85,"windGust":4.47,"windBearing":44,"cloudCover":0.55,"uvIndex":0,"visibility":10,"ozone":352.3},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"partly-cloudy-day","data":[{"time":1579020960,"precipIntensity":0,"precipProbability":0},{"time":1579021020,"precipIntensity":0,"precipProbability":0},{"time":1579021080,"precipIntensity":0,"precipProbability":0},{"time":1579021140,"precipIntensity":0,"precipProbability":0},{"time":1579021200,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.02,"precipType":"rain"},{"time":1579021260,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.03,"precipType":"rain"},{"time":1579021320,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.05,"precipType":"rain"},{"time":1579021380,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.05,"precipType":"rain"},{"time":1579021440,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.07,"precipType":"rain"},{"time":1579021500,"precipIntensity"[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/37.3382082,-121.8863286,1579064400?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 449ms
      X-Forecast-Api-Calls:
      - '19'
      X-Response-Time:
      - 28.201ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":37.3382082,"longitude":-121.8863286,"timezone":"America/Los_Angeles","currently":{"time":1579064400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":42.51,"apparentTemperature":42.51,"dewPoint":40.32,"humidity":0.92,"pressure":1023.5,"windSpeed":2.96,"windGust":8.41,"windBearing":305,"cloudCover":0.16,"uvIndex":0,"visibility":10,"ozone":351.4},"hourly":{"summary":"Possible
        light rain overnight and this morning.","icon":"rain","data":[{"time":1578988800,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0019,"precipProbability":0.11,"precipType":"rain","temperature":49.02,"apparentTemperature":44.77,"dewPoint":44,"humidity":0.83,"pressure":1021.1,"windSpeed":10.14,"windGust":13.71,"windBearing":147,"cloudCover":0.67,"uvIndex":0,"visibility":10,"ozone":352},{"time":1578992400,"summary":"Mostly
        Clou[...]
