---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Denver,CO&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 15 Jan 2020 16:06:55 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 247ms
      X-Forecast-Api-Calls:
      - '17'
      X-Response-Time:
      - 74.257ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579104417,"summary":"Clear","icon":"clear-day","nearestStormDistance":39,"nearestStormBearing":182,"precipIntensity":0,"precipProbability":0,"temperature":31.66,"apparentTemperature":28.4,"dewPoint":14.87,"humidity":0.49,"pressure":1022.6,"windSpeed":3.5,"windGust":11.14,"windBearing":140,"cloudCover":0,"uvIndex":1,"visibility":10,"ozone":340.9},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1579104360,"precipIntensity":0,"precipProbability":0},{"time":1579104420,"precipIntensity":0,"precipProbability":0},{"time":1579104480,"precipIntensity":0,"precipProbability":0},{"time":1579104540,"precipIntensity":0,"precipProbability":0},{"time":1579104600,"precipIntensity":0,"precipProbability":0},{"time":1579104660,"precipIntensity":0,"precipProbability":0},{"time":1579104720,"precipIntensity":0,"precipProbability":0},{"time":1579104780,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1579150800?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 557ms
      X-Forecast-Api-Calls:
      - '18'
      X-Response-Time:
      - 23.885ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579150800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":29.28,"apparentTemperature":24.53,"dewPoint":12.06,"humidity":0.48,"pressure":1030.2,"windSpeed":4.36,"windGust":7.3,"windBearing":228,"cloudCover":0.07,"uvIndex":0,"visibility":10,"ozone":311.1},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1579071600,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":34.43,"apparentTemperature":28.62,"dewPoint":10.91,"humidity":0.37,"pressure":1013.9,"windSpeed":6.7,"windGust":12.34,"windBearing":65,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":349.8},{"time":1579075200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":30[...]
