---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1578978000?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 262ms
      X-Forecast-Api-Calls:
      - '64'
      X-Response-Time:
      - 25.861ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578978000,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":28.82,"apparentTemperature":24.33,"dewPoint":7.04,"humidity":0.39,"pressure":1015.9,"windSpeed":4.07,"windGust":5,"windBearing":171,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":367.2},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578898800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":25.78,"apparentTemperature":25.78,"dewPoint":6.88,"humidity":0.44,"pressure":1016.7,"windSpeed":2.74,"windGust":5.2,"windBearing":159,"cloudCover":0.11,"uvIndex":0,"visibility":10,"ozone":387.8},{"time":1578902400,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":24.23,"apparentTemperature":24.23,"dewPoint":7.17,"humidity":0.48,"pressure":1016.5,"windSpeed":1.71,"windGust":4.3,"windBearing":177,"cloudCover":0.4,"uvIndex":0,"visibility":10,"ozone":386.8},{"time":1578906000,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":24.09,"apparentTemperature":24.09,"dewPoint":7.18,"humidity":0.48,"pressure":1016.6,"windSpeed":2.83,"windGust":4.83,"windBearing":191,"cloudCover":0.44,"uvIndex":0,"visibility":10,"ozone":386.5},{"time":1578909600,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":22.94,"apparentTemperature":22.94,"dewPoint":6.35,"humidity":0.48,"pressure":1016.3,"windSpeed":2.91,"windGust":4.75,"windBearing":150,"cloudCover":0.73,"uvIndex":0,"visibility":10,"ozone":387.8},{"time":1578913200,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0004,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.005,"temperature":23.34,"apparentTemperature":23.34,"dewPoint":6.09,"humidity":0.47,"pressure":1016,"windSpeed":2.97,"windGust":4.82,"windBearing":160,"cloudCover":0.71,"uvIndex":0,"visibility":10,"ozone":389.9},{"time":1578916800,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":22.29,"apparentTemperature":22.29,"dewPoint":6.52,"humidity":0.5,"pressure":1014.6,"windSpeed":1.76,"windGust":5.4,"windBearing":212,"cloudCover":0.[...]
