---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Denver,%20CO&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 17:58:01 GMT
- request:
    method: get
    uri: http://amypode.herokuapp.com/api/v1/antipodes?lat=39.7392358&long=-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<AMYPODE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bcb2f796264411a6c4eb124ae9b1a0a6"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-39.7392358,"long":75.009749}}}'
  recorded_at: Mon, 13 Jan 2020 17:58:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_GEO_API_KEY>&latlng=-39.7392358,75.009749
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "global_code" : "4JGQ7265+8V"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Indian Ocean",
                       "short_name" : "Indian Ocean",
                       "types" : [ "establishment", "natural_feature" ]
                    }
                 ],
                 "formatted_address" : "Indian Ocean",
                 "geometry" : {
                    "bounds" : {
                       "n[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/-39.7392358,75.009749?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 659ms
      X-Forecast-Api-Calls:
      - '55'
      X-Response-Time:
      - 40.047ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":-39.7392358,"longitude":75.009749,"timezone":"Indian/Kerguelen","currently":{"time":1578938283,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":58.49,"apparentTemperature":58.49,"dewPoint":52.19,"humidity":0.8,"pressure":1023.3,"windSpeed":17.37,"windGust":24.94,"windBearing":312,"cloudCover":0.87,"uvIndex":0,"visibility":10,"ozone":286.9},"hourly":{"summary":"Overcast
        throughout the day.","icon":"cloudy","data":[{"time":1578934800,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":58.48,"apparentTemperature":58.48,"dewPoint":52.18,"humidity":0.8,"pressure":1023.8,"windSpeed":16.58,"windGust":23.92,"windBearing":312,"cloudCover":0.89,"uvIndex":0,"visibility":10,"ozone":286.8},{"time":1578938400,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbabi[...]
