---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Bogota,%20Colombia&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Bogota",
                       "short_name" : "Bogota",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Bogota",
                       "short_name" : "Bogota",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Colombia",
                       "short_name" : "CO",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Bogota, Colombia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 4.8371311,
                          "lng" : -73.99197699999999
                       },
                       "southwest" : {
                          "lat" : 4.459464,
                          "lng" : -74.223637
                       }
                    },
                    "location" : {
                       "lat" : 4.710988599999999,
                       "lng" : -74.072092
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 4.8371311,
                          "lng" : -73.99197699999999
                       },
                       "southwest" : {
                          "lat" : 4.459464,
                          "lng" : -74.223637
                       }
                    }
                 },
                 "place_id" : "ChIJKcumLf2bP44RFDmjIFVjnSM",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 17:53:20 GMT
- request:
    method: get
    uri: http://amypode.herokuapp.com/api/v1/antipodes?lat=4.710988599999999&long=-74.072092
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<AMYPODE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27dccf65bd35e8935320ace77f542331"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-4.710988599999999,"long":105.927908}}}'
  recorded_at: Mon, 13 Jan 2020 17:53:20 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_GEO_API_KEY>&latlng=-4.710988599999999,105.927908
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "7WQH+J5 Cabang, Kabupaten Lampung Tengah, Lampung, Indonesia",
              "global_code" : "6P777WQH+J5"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Indonesia",
                       "short_name" : "ID",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Indonesia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
              [...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/-4.710988599999999,105.927908?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 889ms
      X-Forecast-Api-Calls:
      - '53'
      X-Response-Time:
      - 39.413ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":-4.710988599999999,"longitude":105.927908,"timezone":"Asia/Jakarta","currently":{"time":1578938002,"summary":"Rain","icon":"rain","precipIntensity":0.1274,"precipProbability":0.67,"precipType":"rain","temperature":75.99,"apparentTemperature":77.33,"dewPoint":71.46,"humidity":0.86,"pressure":1009.4,"windSpeed":9.54,"windGust":9.61,"windBearing":257,"cloudCover":1,"uvIndex":0,"visibility":9.132,"ozone":250.7},"hourly":{"summary":"Rain
        until morning, starting again in the evening.","icon":"rain","data":[{"time":1578934800,"summary":"Rain","icon":"rain","precipIntensity":0.1654,"precipProbability":0.68,"precipType":"rain","temperature":75.72,"apparentTemperature":77.06,"dewPoint":71.4,"humidity":0.86,"pressure":1009.8,"windSpeed":9.9,"windGust":9.9,"windBearing":290,"cloudCover":1,"uvIndex":0,"visibility":7.221,"ozone":250.5},{"time":1578938400,"summary":"Rain","icon":"rain","precipIntensity":0.1227,"pr[...]
