---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Montevideo,%20Uruguay&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Montevideo",
                       "short_name" : "Montevideo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Montevideo Department",
                       "short_name" : "Montevideo Department",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Uruguay",
                       "short_name" : "UY",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Montevideo, Montevideo Department, Uruguay",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -34.70193,
                          "lng" : -56.023407
                       },
                       "southwest" : {
                          "lat" : -34.9402666,
                          "lng" : -56.4494704
                       }
                    },
                    "location" : {
                       "lat" : -34.9011127,
                       "lng" : -56.16453139999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -34.70193,
                          "lng" : -56.023407
                       },
                       "southwest" : {
                          "lat" : -34.9402666,
                          "lng" : -56.4494704
                       }
                    }
                 },
                 "place_id" : "ChIJ0_c7xv-An5URmexbNS4bMms",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 18:36:51 GMT
- request:
    method: get
    uri: http://amypode.herokuapp.com/api/v1/antipodes?lat=-34.9011127&long=-56.16453139999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<AMYPODE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81ac5f7b31efaaa5088a2357dc90ea6a"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":34.9011127,"long":123.83546860000001}}}'
  recorded_at: Mon, 13 Jan 2020 18:36:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_GEO_API_KEY>&latlng=34.9011127,123.83546860000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "global_code" : "8Q65WR2P+C5"
           },
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 13 Jan 2020 18:36:51 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/34.9011127,123.83546860000001?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 940ms
      X-Forecast-Api-Calls:
      - '62'
      X-Response-Time:
      - 46.476ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":34.9011127,"longitude":123.83546860000001,"timezone":"Asia/Seoul","currently":{"time":1578940613,"summary":"Possible
        Drizzle","icon":"rain","precipIntensity":0.0103,"precipProbability":0.36,"precipType":"rain","temperature":35.87,"apparentTemperature":28.59,"dewPoint":31.5,"humidity":0.84,"pressure":1024.5,"windSpeed":9.84,"windGust":11.07,"windBearing":35,"cloudCover":0.99,"uvIndex":0,"visibility":3.364,"ozone":361.7},"hourly":{"summary":"Drizzle
        tonight and tomorrow morning.","icon":"rain","data":[{"time":1578938400,"summary":"Possible
        Drizzle","icon":"rain","precipIntensity":0.011,"precipProbability":0.37,"precipType":"rain","temperature":35.7,"apparentTemperature":28.28,"dewPoint":31.31,"humidity":0.84,"pressure":1024.8,"windSpeed":10.06,"windGust":11.56,"windBearing":28,"cloudCover":0.99,"uvIndex":0,"visibility":3.38,"ozone":359.9},{"time":1578942000,"summary":"Possible
        Drizzle","icon":"rai[...]
