---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&per_page=1&query=nowheresville,or
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '1'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: UTF-8
      string: '{"total":1,"total_pages":1,"results":[{"id":"6BVinN0Y7Xk","created_at":"2018-08-22T21:42:07-04:00","updated_at":"2020-01-14T00:04:06-05:00","promoted_at":null,"width":3250,"height":2440,"color":"#FAECCD","description":"I
        was sending someone off at the airport when I looked up and noticed the symmetry
        in the design of the ceiling. After looking at the picture for a while, I
        realized that it resembled the human body\u2019s diaphragm, in a way\u2026","alt_description":"low
        angle photo of white ceiling structure of a building","urls":{"raw":"https://images.unsplash.com/photo-1534988333262-c455b9332e52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDg2OH0","full":"https://images.unsplash.com/photo-1534988333262-c455b9332e52?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExMDg2OH0","regular":"https://images.unsplash.com/photo-1534988333262-c455b9332e52?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExMDg2OH0","small":"https://images.unsplash.com/photo-1534988333262-c455b9332e52?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExMDg2OH0","thumb":"https://images.unsplash.com/photo-1534988333262-c455b9332e52?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExMDg2OH0"},"links":{"self":"https://api.unsplash.com/photos/6BVinN0Y7Xk","html":"https://unsplash.com/photos/6BVinN0Y7Xk","download":"https://unsplash.com/photos/6BVinN0Y7Xk/download","download_location":"https://api.unsplash.com/photos/6BVinN0Y7Xk/download"},"categories":[],"likes":138,"liked_by_user":false,"current_user_collections":[],"user":{"id":"kt7ChDgBdYg","updated_at":"2020-01-14T12:48:36-05:00","username":"the_roaming_platypus","name":"timJ","first_name":"timJ","last_name":null,"twitter_username":"timotaitun","portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/the_roaming_platypus","html":"https://unsplash.com/@the_roaming_platypus","photos":"https://api.unsplash.com/users/the_roaming_platypus/photos","likes":"https://api.unsplash.com/users/the_roaming_platypus/likes","portfolio":"https://api.unsplash.com/users/the_roaming_platypus/portfolio","following":"https://api.unsplash.com/users/the_roaming_platypus/following","followers":"https://api.unsplash.com/users/the_roaming_platypus/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1495641006625-883a96c32e4d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1495641006625-883a96c32e4d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1495641006625-883a96c32e4d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"timjsh","total_collections":0,"total_likes":57,"total_photos":35,"accepted_tos":true},"tags":[{"type":"landing_page","title":"beautiful","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"feelings","pretty_slug":"Feelings"},"subcategory":{"slug":"beautiful","pretty_slug":"Beautiful"}},"title":"Beautiful
        Images","subtitle":"Download free beautiful images","description":"Choose
        from a curated selection of beautiful photos. Always free on Unsplash.","meta_title":"900+
        Beautiful Images: Download HD Pictures & Photos on Unsplash","meta_description":"Choose
        from hundreds of free beautiful photos. Download HD beautiful pictures for
        free on Unsplash.","cover_photo":{"id":"KTsg_xKnB3E","created_at":"2018-08-12T19:04:06-04:00","updated_at":"2019-12-14T00:01:18-05:00","promoted_at":"2018-08-13T08:57:34-04:00","width":3981,"height":5971,"color":"#0B0C13","description":"Early
        morning calm on venice","alt_description":"boat on venice","urls":{"raw":"https://images.unsplash.com/photo-1534113414509-0eec2bfb493f?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1534113414509-0eec2bfb493f?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"ht[...]
