---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&per_page=1&query=ldkfeiffeee
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '42'
    body:
      encoding: UTF-8
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Wed, 15 Jan 2020 01:42:18 GMT
recorded_with: VCR 5.0.0
